body {
    width: 100%;
    height: 100vh;
    background-color: #160F1D;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: scroll;
}

.logo {
    width: 120px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNavVal {
    margin-top: 25px;
}

.sideNavVal a {
    margin-left: auto;
    margin-right: auto;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.closebtn {
    font-size: 5px;
    color: #593d74;
    cursor: pointer;
    padding: 1px 4px;
    text-decoration: none;
}

.open {
    color: white;
}