<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Connect page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
            <nav>
                <ul id='MenuItems'>
                    <li><a href="{{url_for('main')}}">HOME</a></li>
                    <li><a href="{{url_for('about')}}">ABOUT</a></li>
                    <li><a href="{{url_for('services')}}">SERVICES</a></li>
                    <li><a href="{{url_for('connect')}}">CONNECT</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h1>Connect Page</h1>
        </div>
</body>

</html>