<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        h2 {
            margin-bottom: 10px;
        }

        p {
            margin-top: 10px;
        }

        html {
                        background-color: #160F1D;
                        background-size: cover;
                        background-position: center;
                    }
    </style>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='logo.png') }}" class="logo"></a>
            <nav>
                <ul id='MenuItems'>
                    <li><a href="{{url_for('main')}}">HOME</a></li>
                    <li><a href="{{url_for('about')}}">ABOUT</a></li>
                    <li><a href="{{url_for('services')}}">SERVICES</a></li>
                    <li><a href="{{url_for('connect')}}">CONNECT</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h1>Services</h1>
        </div>
        


        <div class="container">
            <div class="services">
                <div class="service">
                    <a href="{{url_for('toDo')}}" style="color:#ffffff;">
                        <h2>Upcoming Tasks</h2>
                    </a>
                    <p>You'll never miss a deadline again. Stay on top of your tasks and projects by easily viewing
                        what's due in the coming days and weeks.</p>
                </div>
                <div class="service">
                    <a href="{{url_for('notes')}}" style="color:#ffffff;">
                        <h2>Notes</h2>
                    </a>
                    <p>Our Note-Taking tool lets you easily capture and organize your ideas, thoughts, and to-do's.</p>
                </div>
                <div class="service">
                    <a href="{{url_for('contacts')}}" style="color:#ffffff;">
                        <h2>Contacts</h2>
                    </a>
                    <p>Our Contact Management tool lets you easily organize and store all of your contacts in one
                        central location.</p>
                </div>
                <div class="service">
                    <a href="{{url_for('pomodoro')}}" style="color:#ffffff;">
                        <h2>Pomodoro Timer</h2>
                    </a>
                    <p>The Pomodoro Timer breaks your workday into manageable 25-minute intervals with 5-minute breaks
                        in between.</p>
                </div>
            </div>
        </div>


        <div class="contact-info">
            <p>Contact us <a href="mailto:info@taskware.com">here</a> for more information about our services.</p>
        </div>
    </div>
</body>

</html>